<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Document</title>
</head>
<body>
  
  <div class="bouton">
    <a mat-flat-button [color]="'success'" >Connexion</a>
    <a mat-flat-button [color]="'blue'" routerLink=".">Mon espace</a>
  </div>
  
 
<div class="malin">
  <img src="/assets/colismalinNoir.png">
</div>
  
  <div class="slogan">
    <h1>La Poste Entre Particuliers</h1>
  </div>
  
    <a class="concept" mat-button routerLink=".">Voir le concept</a>

  <div class="inscription">
    <a mat-flat-button class="inscrit" [color]="'success'">Je m'inscris</a>
  </div>
  
  <div class="connect">
    <a mat-button routerLink="." class="green">Me connecter</a>
    <a mat-button routerLink="." class="membre">Deja membre ?</a> 
  </div> 
</body>
</html>
<app-card></app-card>
<app-concept></app-concept>