body{
    background-image:url(/assets/home.jpg);
    background-size: cover;
}

h1{  
  position: absolute;
  top:140px;
  left:100px;  
}
.slogan{
    
    font-family: 'Cormorant Garamond', serif;
    position: relative;
    width: 100%;
    top:10%;
    left:32%;
}


.malin{
    
display: flex;
flex-direction: column;
align-items: center;
position: relative;
top: 130px;
     
}


.bouton{
    position: relative;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row-reverse;
    
}

.mat-success {
    
    background-color:rgb(42, 209, 114);
    margin-left: 10px;

}
.mat-success {
    
    background-color:rgb(42, 209, 114);
    margin-left: 10px;

}.mat-blue {
    
    background-color:rgb(102, 112, 200);
    margin-left: 10px;

}

.inscription{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10%;
    right: 0.9%;
    
  
     
}
.inscrit{
     margin-bottom:-80px;
      
}
.green{
    color: green;
    position: absolute;
    bottom: 280px;
    right:570px;
    
}
.membre{
    
    position: absolute;
    bottom: 280px;
    right:675px;
    
}
.connect{
    //border: solid white;
    position: relative;
    bottom: 10% ;
    
}

.concept{
   
    position: absolute;
    top:93%;
    left:45%;
}

